.*.swp
*.swp
.history
.bash_history
.bash_logout
.bash_profile
.bashrc
.cshrc
.gnupg/
.lesshst
.ssh/
.tcshrc
.zshrc
.viminfo
.zcompdump
.cache/
.vim/.netrwhist
.gitconfig
.lvm_history
poc_docker_compose/
